
.container{
    height: 100vh;
 
}


.boxcard{

    display: flex;
    justify-content: space-around;
    color: black;
    text-align: center;
  margin-top: 80px; 

}

.card img{
    border-radius: 4px; 
 }

.card{ 
    font-family: 'Roboto', sans-serif;


 }





img{
    max-width: 100%;
}