
.container{
    height: 100vh;
 
}


.boxcard{

    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
  margin-top: 80px; 

}

.card img{
    border-radius: 2px; 
 }

.card{ 




 }





img{
    max-width: 100%;
}